<div class="card bg-white border-none shadow-sm">
  <div class="card-header font-weight-bold">
    いいね！の数が多いレビュー
  </div>
  <div class="card-body p-4">
    <div class="row">
      <% @reviews.each_with_index do |review, i| %>
        <div class="col-md-4 col-sm-6 pb-4">
          <%= link_to review_path(review) do %>
            <div class="card h-100">
              <div class="card-img-top">
                <%= image_tag review.image.url if review.image? %>
              </div>
            	<div class="card-body">
            		<p class="card-title font-weight-bold"><%= "#{i+1}位:" %> <%= review.shop_name %></p>
            		<p class="fs-12">（<%= review.prefecture %>）</p>
            	</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
