<div class="d-md-block d-none">
  <div class="bg-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="font-weight-bold">ご利用ガイド</p>
          <p class="fs-14">
            <%= link_to "#" do %>
              登録の流れ
            <% end %>
          </p>
          <p class="fs-14">
            <%= link_to "#" do %>
              よくある質問
            <% end %>
          </p>
          <p class="fs-14">
            <%= link_to "#" do %>
              お知らせ
            <% end %>
          </p>
        </div>
        <div class="col-md-3">
          <p class="font-weight-bold">ブログ</p>
          <p class="fs-14">
            <%= link_to "#", target: "_blank" do %>
              カテゴリー1
            <% end %>
          </p>
          <p class="fs-14">
            <%= link_to "#", target: "_blank" do %>
              カテゴリー2
            <% end %>
          </p>
          <p class="fs-14">
            <%= link_to "#", target: "_blank" do %>
              カテゴリー3
            <% end %>
          </p>
        </div>
        <div class="col-md-3">
          <p class="font-weight-bold">サイト情報</p>
          <p class="fs-14">
            <%= link_to "#", target: "_blank" do %>
              運営会社
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>