<% if current_page?(root_path) %>

  <div class="swiper-container mb-5">
    <h1>ラーメンとは、<br>
        果てしない冒険。
    </h1>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag 'ramen.jpg'%>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'tsukemen.jpg'%>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'aburasoba.jpg'%>
      </div>
    </div>
  </div>
  
  
  <div class="container mb-5">
    <h2 class="font-weight-bold text-center my-3">Ramen Questとは？</h1>
    <p class="text-center mb-5">それは、魂の一杯を求める者たちの物語…。</p>
    <div class="row">
      <div class="col-md-4">
        <p class="text-center"><i class="fas fa-comments fa-3x"></i></p>
        <p class="font-weight-bold text-center"><u>リアルな口コミ</u></p>
        <p class="text-center fs-14">ユーザーたちの手によって利便性の高いサイトを作り上げていく事を基本方針としているため、業者などの存在は無し。よりリアルな口コミが集まります。</p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fas fa-user-cog fa-3x"></i></p>
        <p class="font-weight-bold text-center"><u>シンプルな機能性</u></p>
        <p class="text-center fs-14">「使いやすさ」を重視したシンプルなレイアウト。詳しいマニュアルを用意せずとも直感的に操作できるようにしました。</p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fas fa-fire-alt fa-3x"></i></p>
        <p class="font-weight-bold text-center"><u>熱いパッション</u></p>
        <p class="text-center fs-14">熱いのはラーメンだけではありません。ユーザーはもちろん、運営陣もラーメンに対する熱い情熱を持っています。より良いサービスの提供を目指して…。</p>
      </div>
    </div>
    <% unless logged_in? %>
      <div class="col-md-12 p-4 mb-4">
        <div class="text-center">
          <%= form_with model: User.new, url: login_path, local: true do |f| %>
            <%= f.hidden_field :email, value: "test@example.com" %>
            <%= f.hidden_field :password, value: "12341234" %>
            <%= button_tag type: 'submit', class:"btn btn-secondary text-white px-5" do %>
              <i class="fas fa-power-off"></i> お試しログイン
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
<% end %>