<div class="d-md-none d-block">
  <ul class="bg-white list-group navbar-nav row d-block d-md-none mt-5">
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to dashboard_index_path, class: "d-block w-100 clearfix" do %>
        ホーム
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_reviews_path(current_user), class: "d-block w-100 clearfix" do %>
        レビュー
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_bookmarks_path(current_user), class: "d-block w-100 clearfix" do %>
        ブックマーク
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_events_path(current_user), class: "d-block w-100 clearfix" do %>
        イベント
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_charts_path(current_user), class: "d-block w-100 clearfix" do %>
        チャート
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_profile_path, class: "d-block w-100 clearfix" do %>
        プロフィール
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_email_path, class: "d-block w-100 clearfix" do %>
        メールアドレス
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
    <li class="nav-item border-bottom p-3 pl-1">
      <%= link_to mypage_password_path, class: "d-block w-100 clearfix" do %>
        パスワード
        <span class="float-right text-info"><i class="fa fa-angle-right"></i></span>
      <% end %>
    </li>
  </ul>
</div>