<% breadcrumb :mypage_charts %>
<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    
    
    
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        訪問したラーメン店の数
      </div>
      <div class="card-body p-4">
        <%= column_chart current_user.completions.group_by_month_of_year(:created_at).count %>
        <%= render 'users/mypage/sp_menu' %>
      </div>
    </div>
    
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        食べたラーメンの味
      </div>
      <div class="card-body p-4">
        <%= pie_chart current_user.reviews.group(:taste).count %>
        <%= render 'users/mypage/sp_menu' %>
      </div>
    </div>
    
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        都道府県別レビュー状況
      </div>
      <div class="card-body p-4">
        <%= bar_chart current_user.reviews.group(:prefecture).count, {yAxis: {allowDecimals: false }} %>
        <%= render 'users/mypage/sp_menu' %>
      </div>
    </div>
    
    
    
  </div>
  
  <div class="col-sm-4 order-md-1">
    <%= render 'users/mypage/sidebar' %>
  </div>
</div>