<% breadcrumb :mypage_profile %>
<div class="row pt-3 pb-5">
  <div class="col-md-8 order-md-2 mb-3">
    <div class="card bg-white border-none shadow-sm">
      <div class="card-body p-4">
        <h2 class="text-center font-weight-bold pb-4">プロフィールの変更</h2>
        <%= simple_form_for(current_user, url: profile_path(current_user), local: true) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>名前</th>
                  <td><%= f.input :name, label: false %></td>
                </tr>
                <tr>
                  <th>自己紹介</th>
                  <td><%= f.input :profile, label: false %></td>
                </tr>
                <tr>
                  <th>写真</th>
                  <td>
                    <div id="org_img_preview" class="bg-image m-0" style="background-image: url(<%= current_user.image.url.present? ? current_user.image.url : image_url("no-image.svg") %>); width: 120px; height: 120px;">
                    </div>
                    <img id="img_preview" src="#" class='d-none mb-4' style="max-width: 100%; height: 120px;" /> <br/>
                    <%= f.input :image, id: :user_img, as: :file, label: false %>
                  </td>
                </tr>
              </table>
              <div class="text-center">
                <%= f.submit class: "btn btn-danger btn-sm px-5" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 order-md-1">
    <%= render partial: 'users/shared/sidebar' %>
  </div>
</div>
<script>
  $(document).ready(function(){
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          $('#org_img_preview').attr('src', e.target.result).addClass("d-none");
          $('#img_preview').attr('src', e.target.result).removeClass("d-none");
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  
    $("#user_image").change(function(){
      readURL(this);
    });
  });
</script>