<% breadcrumb :mypage_reviews %>
<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        自分のレビュー（<%= @my_reviews.count %>件）
      </div>
      <div class="card-body p-4">
        <%= render 'users/shared/reviews', reviews: @my_reviews %>
      </div>
    </div>
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        いいね！を付けたレビュー（<%= @favorite_reviews.count %>件）
      </div>
      <div class="card-body p-4">
        <%= render 'users/shared/favorites', favorites: @favorite_reviews %>
      </div>
    </div>
    <%= render 'users/mypage/sp_menu' %>
  </div>
  <div class="col-sm-4 order-md-1">
    <%= render 'users/mypage/sidebar' %>
  </div>
</div>