<% breadcrumb :ramen_shop, @ramen_shop %>
<div class="row pt-3 pb-5">
  <div class="col-md-8 mb-3">
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-body p-4">
        <div class="row mb-3">
          <div class="col-md-4 offset-md-4">
            <h2 class="m-0 font-weight-bold text-center fs-28"><%= @ramen_shop.name %></h2>
          </div>
          <% if logged_in? %>
            <div class="d-sm-block d-none col-md-4 text-right">
              <%= link_to edit_ramen_shop_path(@ramen_shop), class: "btn btn-primary btn-sm" do %>
                <i class="fas fa-edit"></i> 編集
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-center">
          <div class="image-box">
            <%=  link_to @ramen_shop.image.url, 'data-lightbox': @ramen_shop.image do %>
              <%= image_tag @ramen_shop.image.medium.url if @ramen_shop.image? %>
            <% end %>
          </div>
        </div>
        <div class="mt-4">
          <table class="table table-bordered">
            <tr>
              <th class="bg-light text-center">所在地</th>
              <td class="text-center"><%= @ramen_shop.address %></td>
            </tr>
            <tr>
              <th class="bg-light text-center">店名</th>
              <td class="text-center"><%= @ramen_shop.name %></td>
            </tr>
            <tr>
              <th class="bg-light text-center">電話番号</th>
              <td class="text-center"><%= @ramen_shop.phone %></td>
            </tr>
          </table>
        </div>
        <div id="map" class="mb-3" style='width: 100%; height: 500px;'></div>
        <div id="bookmarkButton" class="d-inline">
          <%= render 'users/bookmarks/button', ramen_shop: @ramen_shop %>
        </div>
        <div id="completionButton" class="d-inline">
          <%= render 'users/completions/button', ramen_shop: @ramen_shop %>
        </div>
      </div>
    </div>
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        この店のレビュー（<%= @reviews.count %>件）
      </div>
      <div class="card-body p-4">
        <%= render 'users/shared/reviews', reviews: @ramen_shop.reviews.includes(:user).page(params[:page]).order(created_at: :desc) %>
      </div>
    </div>
    <div class="card bg-white border-none shadow-sm mt-3">
      <div class="card-header font-weight-bold">
        レビューを書く
      </div>
      <div class="card-body p-4">
        <%= simple_form_for(Review.new, url: reviews_path(@ramen_shop.id), method: :post, local: true) do |f| %>
          <%= render 'users/reviews/form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'users/shared/sidemenu' %>
  </div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @ramen_shop.latitude %>,
        "lng": <%= @ramen_shop.longitude %>,
	  "infowindow": '<p><%= @ramen_shop.name %></p><p><%= @ramen_shop.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@ramen_shop.latitude},#{@ramen_shop.longitude}&iwloc=J",target: "_blank" %></p>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
</script>