<!DOCTYPE html>
<html>
  <head>
    <title>ラーメンクエスト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag('favicon.ico') %>
    
    <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <%= render 'users/shared/header' %>
        <%= render 'users/shared/breadcrumb' %>
      </header>
      <main>
        <%= render 'users/shared/service_introduction' %>
        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %> m-2"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
        <div id="page-top">
          <a href="#"></a>
        </div>
      </main>
      <footer>
        <%= render 'users/shared/footer' %>
      </footer>
    </div>
  </body>
</html>